<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../../CSS/footer.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <footer>
            <h1>Liên hệ với chúng tôi</h1>
            <ul>
                <li><a href="https://www.facebook.com/djd.jd.94695/" target="_blank"><img
                            src="../../images/facebook.png" alt="Facebook"> </a></li>
                <li><a href="https://www.tiktok.com/@laiduc55" target="_blank"><img src="../../images/tik-tok.png"
                            alt="Tiktok"> </a>
                </li>
                <li><a href="https://www.instagram.com/laithaiduc/" target="_blank"><img
                            src="../../images/instagram.png" alt="Instagram">
                    </a></li>
            </ul>
        </footer>
    </body>

    </html>