<!DOCTYPE html>
<html>
    <head>
        <title>My Shoe Store</title>
        <link rel="stylesheet" type="text/css" href="../../CSS/header.css">
        <script src="script.js" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="main-header">
            <ul>
                <li class="logo"><a href="../home.html"><img src="../../images/Logo.png" alt="Logo"></a></li>
                <li><a href="../home.html">Trang chủ</a></li>
                <li><a href="../products.html">Sản phẩm</a></li>
                <li><a href="../about.html">Giới thiệu</a></li>
                <li><a href="../register.html"><button>Đăng ký</button></a></li>
                <li><a href="../login.html"><button>Đăng nhập</button></a></li>    
            </ul>
        </header>
    </body>
</html>